/* Główny kontener zakładki wyglądu */
.form-container {
    font-family: 'Jua', sans-serif;
    background-color: #ffa500;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Nagłówek z przyciskiem powrotu i tytułem */
.header {
    display: flex;
    align-items: center;
    background-color: #ffa500;
    padding: 10px;
}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

    .back-button img {
        width: 24px;
        height: 24px;
    }

.page-title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

/* Formularz zmiany hasła */
.form-container form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
    text-align: center;
}

.form-container h2 {
    font-size: 20px;
    color: #333333;
    margin-bottom: 15px;
}

/* Stylizacja dla pól formularza */
.password-container {
    margin-bottom: 15px;
}

    .password-container input {
        width: 100%;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid #ddd;
        font-size: 16px;
        background-color: #f9f9f9;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

        .password-container input:focus {
            outline: none;
            border-color: #ffa500;
        }

/* Przycisk zmiany hasła */
.change-password-btn {
    width: 100%;
    padding: 12px;
    background-color: #ffa500;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

    .change-password-btn:hover {
        background-color: #e59400;
    }


/* Dolny pasek nawigacyjny */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffa500;
    padding: 10px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

    .nav-button img {
        width: 30px;
        height: 30px;
        transition: transform 0.2s ease;
    }

    .nav-button:hover img {
        transform: scale(1.1);
    }
