.container[b-8e88qqkfi1] {
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

/* Logo and Title */
.logo-container[b-8e88qqkfi1] {
    margin-bottom: 50px;
}

.logo[b-8e88qqkfi1] {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}
/* Password visibility button */
.password-container[b-8e88qqkfi1] {
    position: relative;
}

.show-password[b-8e88qqkfi1] {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.show-password img[b-8e88qqkfi1] {
    width: 25px;
    height: auto;
    align-items: center;
}