@page "/start"

@using PizzaUtopia.Components.Elements.Buttons
 
 @inject NavigationManager NavigationManager

<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
<link rel="stylesheet" href="Profile.css">

<!-- Główna zawartość strony -->
<div class="container">
    <!-- Logo i tytuł aplikacji -->
    <div class="logo-container">
        <!-- Logo aplikacji -->
        <img src="Images/logopizzy.png" alt="PizzaUtopia Logo" class="logo">
        <!-- Tytuł aplikacji -->
        <h1>PizzaUtopia</h1>
    </div>

    <!-- Przyciski logowania i rejestracji -->
    <Button OnClick="OnLoginClick">Zaloguj się</Button>
    <Button OnClick="OnRegisterClick">Zarejestruj się</Button>
</div>

@code {
    private void OnLoginClick(object? sender, EventArgs args)
    {
        NavigationManager.NavigateTo("/login");
    }
    private void OnRegisterClick(object? sender, EventArgs args)
    {
        NavigationManager.NavigateTo("/register");
    }

}
