/* Główny kontener zakładki wyglądu */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Jua', sans-serif;
    background-color: #ffa500;
    height: calc(100vh - 60px);
    box-sizing: border-box;
}

/* Nagłówek z przyciskiem powrotu i tytułem */
.header {
    display: flex;
    align-items: center;
    background-color: #ffa500;
    padding: 10px;
}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

    .back-button img {
        width: 24px;
        height: 24px;
    }

.page-title {
    text-align: center;
    width: 100%;
    font-size: 24px; /* Zwiększono rozmiar tytułu */
    color: #ffffff;
    font-weight: bold;
    margin: 0;
}

/* Kontener dla formularza */
.form-container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 30px; /* Zwiększono padding dla lepszej proporcji */
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%; /* Zmieniono szerokość na procentową */
    max-width: 500px; /* Zwiększono maksymalną szerokość */
}

.form-title {
    font-size: 22px; /* Lekko powiększony tytuł */
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px; /* Większy odstęp pod tytułem */
}

/* Stylizacja pól formularza */
.input-field {
    width: 100%;
    padding: 12px; /* Większy padding dla pól */
    margin-bottom: 20px; /* Większy odstęp między polami */
    border-radius: 15px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #f9f9f9;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stylizacja przycisku */
.change-password-btn {
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    color: #ffa500;
    border: none;
    border-radius: 15px;
    font-size: 20px; /* Większa czcionka */
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

    .change-password-btn:hover {
        background-color: #f0f0f0;
    }

/* Dolny pasek nawigacyjny */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffa500;
    padding: 10px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

    .nav-button img {
        width: 30px;
        height: 30px;
        transition: transform 0.2s ease;
    }

    .nav-button:hover img {
        transform: scale(1.1);
    }
