@page "/login"
@using PizzaUtopia.Components.Elements.Input
@using PizzaUtopia.Components.Elements.Buttons
@using PizzaUtopia.Models

@inject NavigationManager NavigationManager

<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
<link rel="stylesheet" href="Profile.css">

<div class="container">
    <button class="back-button" @onclick="NavigateBack">
        <img src="Images/back-arrow.png" alt="Powrót" />
    </button>
    <!-- Logo i tytuł aplikacji -->
    <div class="logo-container">
        <img src="Images/logopizzy.png" alt="PizzaUtopia Logo" class="logo"> <!-- Logo aplikacji -->
        <h1>PizzaUtopia</h1> <!-- Tytuł aplikacji -->
    </div>
</div>

<div class="form-container">
    <h2>Logowanie</h2> <!-- Nagłówek sekcji logowania -->
    <form id="loginForm">
        <!-- Formularz logowania -->
        <!-- Pole do wpisania emaila -->
        <Input ValueChanged="(o, e) =>{OnLoginDataChanged(e, null);}" InputType="Enums.InputType.Email" placeholder="Wprowadź e-mail" />

        <!-- Pole do wpisania hasła z możliwością pokazania/ukrycia -->
        <div class="password-container">
            <Input ValueChanged="(o, e) =>{OnLoginDataChanged(null, e);}" InputType="Enums.InputType.Password" placeholder="Wprowadź hasło" />
        </div>

        <!-- Przycisk logowania -->
        <Button OnClick="OnMenuClick">Zaloguj się</Button>

    </form>
</div>

@code {
    public LoginData LoginData { get; set; } = new();

    private void OnLoginDataChanged(string? email = null, string? password = null)
    {
		LoginData = new LoginData
			{
			    Email = email ?? LoginData.Email,
			    Password = password ?? LoginData.Password
	        };
    }


    /// <summary>
    /// Obsługuje kliknięcie przycisku logowania, przekierowując użytkownika do menu.
    /// </summary>
    /// <param name="sender">Obiekt, który wywołał zdarzenie.</param>
    /// <param name="args">Argumenty zdarzenia.</param>
    private async void OnMenuClick(object? sender, EventArgs args)
    {
        var httpclient = new HttpClient();

        var response = await httpclient.PostAsJsonAsync(@"http://localhost:5000/api/login", LoginData);

		if (response.IsSuccessStatusCode)
		{
			// Przekierowanie użytkownika do strony menu
			NavigationManager.NavigateTo("/menu");
		}
		else
		{
			// Wyświetlenie komunikatu o błędzie logowania
            NavigationManager.NavigateTo("/menu");
		}


    }

    /// <summary>
    /// Obsługuje kliknięcie przycisku "powrót", przekierowując użytkownika na stronę początkową.
    /// </summary>
    private void NavigateBack()
    {
        // Przekierowanie użytkownika na stronę startową
        NavigationManager.NavigateTo("/start");
    }
}
