@page "/order"
@inject NavigationManager NavigationManager

<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
<link rel="stylesheet" href="Profile.css">

<div class="thank-you-container">
    <h1>Dziękujemy za zamówienie!</h1>
    <p>Twoje zamówienie zostało pomyślnie złożone. Wkrótce je przygotujemy.</p>
    <button class="menu-button" @onclick="OnMenuClick">Powrót do menu</button>
</div>

@code {
    /// <summary>
    /// Navigates back to the menu page.
    /// </summary>
    private void OnMenuClick()
    {
        NavigationManager.NavigateTo("/menu");
    }
}
