/* Kontener główny */
.thank-you-container {
    font-family: 'Jua', sans-serif;
    background-color: #FFA500; /* Zmiana na bardziej wyrazisty kolor */
    color: #FFFFFF; /* Tekst w kontraście do tła */
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

    /* Nagłówek wiadomości */
    .thank-you-container h1 {
        font-size: 36px;
        font-weight: bold;
        color: #FFFFFF;
        margin-bottom: 20px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }

    /* Opis wiadomości */
    .thank-you-container p {
        font-size: 20px;
        color: #FFFFFF;
        margin-bottom: 30px;
        line-height: 1.5;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }

/* Przycisk powrotu do menu */
.menu-button {
    background-color: #FFFFFF;
    color: #FFA500;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

    .menu-button:hover {
        background-color: #FFD27F;
        transform: scale(1.05);
    }
