/* Kontener główny */
.thank-you-container {
    font-family: 'Jua', sans-serif;
    background-color: #ffffff;
    color: #333333;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    /* Nagłówek wiadomości */
    .thank-you-container h1 {
        font-size: 32px;
        font-weight: bold;
        color: #ffa500;
        margin-bottom: 10px;
    }

    /* Opis wiadomości */
    .thank-you-container p {
        font-size: 18px;
        color: #555555;
        margin-bottom: 30px;
    }

/* Przycisk powrotu do menu */
.menu-button {
    background-color: #ffa500;
    color: #ffffff;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

    .menu-button:hover {
        background-color: #e69500;
    }

/* Tryb Ciemny - Kontener główny */
body.dark-mode .thank-you-container {
    background-color: #333333;
    color: #ffffff;
}

    /* Tryb Ciemny - Nagłówek wiadomości */
    body.dark-mode .thank-you-container h1 {
        color: #ffa500;
    }

    /* Tryb Ciemny - Opis wiadomości */
    body.dark-mode .thank-you-container p {
        color: #cccccc;
    }

/* Tryb Ciemny - Przycisk powrotu do menu */
body.dark-mode .menu-button {
    background-color: #555555;
    color: #ffa500;
}

    body.dark-mode .menu-button:hover {
        background-color: #444444;
    }
